<ion-content style="background-color: #344E41; --ion-background-color: #344E41;">
  <div class="login-container" style="margin-top: 130px;">
    <form (submit)="registerUser()">
      <h2>Cadastre-se</h2>

      <div class="input-div one">
        <div class="i">
          <img src="/assets/img/user.png" alt="" class="fas fa-user">
        </div>
        <div>
          <input class="input" type="text" placeholder="Nome" [(ngModel)]="name" name="name" required>
        </div>
      </div>

      <div class="input-div one">
        <div class="i">
          <img src="/assets/img/user.png" alt="" class="fas fa-user">
        </div>
        <div>
          <input class="input" type="text" placeholder="Email" [(ngModel)]="email" name="email" required>
        </div>
      </div>

      <div class="input-div one">
        <div class="i">
          <img src="/assets/img/senha.png" alt="" class="fas fa-key">
        </div>
        <div>
          <input class="input" type="password" placeholder="Senha" [(ngModel)]="password" name="password" required>
        </div>
      </div>

      <div class="input-div two">
        <div class="i">
          <img src="/assets/img/senha.png" alt="" class="fas fa-key">
        </div>
        <div>
          <input class="input" type="password" placeholder="Confirmar a senha" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </div>
      </div>

      <div class="btn-container">
        <button type="submit" class="btn-action">Cadastrar</button>
      </div>

      <div class="account">
        <p style="color:#000;">Já possui conta ?</p>
        <a routerLink="/login" style="color: rgb(167, 32, 14);">Entrar</a>
      </div>
    </form>
  </div>
</ion-content>


<ion-footer style="background: #DAD7CD;">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home-outline" style="color: white;"></ion-icon>
      <ion-label style="color: white;">Início</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="login" routerLink="/login">
      <ion-icon name="log-in-outline" style="color: white;"></ion-icon>
      <ion-label style="color: white;">Login</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>


