* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logout-button {
  --background: transparent;
  --color: red; 
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  width: 150px;
  transition: background-color 0.3s ease;
  margin: 0 auto;

  ion-icon {
    color: red; 
  }

  &:hover {
    --background: rgba(255, 0, 0, 0.1);
  }
}


ion-content {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100%; 
}

form {
  width: 320px;
  height: auto; 
  background-color: #DAD7CD;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  margin: auto; 
}

.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px; 
}

.input-div {
  position: relative;
  width: 100%;
}

.input {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  background: #fff; 
  transition: border 0.3s; 
  color: #000;
}

.input:focus {
  border: 1px solid #344E41;
  outline: none; 
}

.btn {
  width: 60%;
  margin: 15px auto; 
  padding: 10px; 
  border: none; 
  border-radius: 10px; 
  background-color: #344E41; 
  color: #fff;
  font-size: 16px;
  cursor: pointer; 
  transition: background-color 0.3s; 
  display: block; 
}



.btn:hover {
  background-color: #2a3d33; 
}

.btn:active {
  background-color: #1f2925; 
}



.item-card {
  width: 230px;
  height: auto; 
  background-color: #DAD7CD;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  margin: auto; 
  margin-bottom: 25px;
  display: flex; /* Para usar flexbox */
  flex-direction: column; /* Alinhamento vertical */
  align-items: center; /* Centraliza os itens horizontalmente */
}

.item-card, p, h3 {
  color: #000;
  font-size: 18px;
  text-align: center;
}

.btn-container {
  display: flex; /* Adicionado para a nova classe */
  justify-content: space-between; /* Para espaço entre os botões */
  width: 100%; /* Para garantir que ocupem a largura total */
}

.btn-up {
  width: 40%; /* Ajustado para permitir espaço entre os botões */
  margin: 5px 0; /* Margem vertical */
  padding: 10px; 
  border: none; 
  border-radius: 10px; 
  background-color: #344E41; 
  color: #fff;
  font-size: 13px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}


